@model CodeArena.Models.TaskDescription
<h2>Choose Level</h2>
<div id="Menu">
@using (Html.BeginForm("StartBattle", "Battle"))
{
    for (int i = 1; i <= @ViewBag.maxLevel; i++)
    {
        if(@i == 1)
        {
            @Html.RadioButton("Level", i, new { @checked = true })
        }
        else
        {
            @Html.RadioButton("Level", i)
        }  
    }
    <input type="submit" value="Begin Battle" />
}
</div>
